<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>N</b>oob</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Noob</b>Commerce</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <div class="navbar navbar-static-top" role="navigation">
    <a
      href="#"
      id="nopSideBarPusher"
      class="sidebar-toggle"
      data-toggle="push-menu"
      role="button"
    >
      <span class="sr-only">&nbsp;</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li></li>
        <li class="account-info">Tony Stark</li>
        <li>
          <a href="/logout">Logout</a>
        </li>
        <li></li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown"><i class="fa fa-gears"></i></a>
          <ul class="maintenance-menu dropdown-menu bg-dark" role="menu">
            <li>
              <form action="/Admin/Common/ClearCache" method="post">
                <input name="returnurl" type="hidden" value="/Admin" />
                <button type="submit" class="bg-dark">
                  <span>Clear cache</span>
                </button>
                <input
                  name="__RequestVerificationToken"
                  type="hidden"
                  value="CfDJ8HSMjZKCOhJEuQNJp6qjZ-UWeE4-z62EDRmtzJhplE4dhKF9xdIZJS3VxBG5b2fYu8yfGC51NRv5biAtWMh7-JDOm1_z4d6eYFjgKofvXZ0WH0UJcEU9lcNJAcZ7N1-KAOauA243mEOeeRIUSBoKK5yGPFLIG73qucSufHJF2FNzz9YZZmeTabcyoaySQoC2RQ"
                />
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
